@font-face {
	font-family: PP Machina;
	font-weight: 400;
	src: url("/PPNeueMachina-Regular.otf") format("opentype");
}

@font-face {
	font-family: PP Montreal;
	font-weight: medium;
	src: url("/PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
	font-family: PP Montreal;
	font-style: italic;
	src: url("/PPNeueMontreal-Italic.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*::after {
	box-sizing: inherit;
}

:root {
	--mobile-width: 500px;
	--tablet-width: 1200px;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: "PP Montreal", sans-serif;
	overflow-x: hidden;
	background-color: #f6f5f1;
	color: #18181b;
	min-height: 100vh;
}

.container {
	font-size: 2rem;
	border: 2px solid black;
	/* margin: 6rem; */
	height: max-content;
	z-index: 234;
	display: flex;
	
	/* margin: auto; */
}

header {
	position: fixed;
	width: 20%;
	height: 100vh;
	border-right: 2px solid #52525b;
	padding: 2rem;
	background-color: #f6f5f1;
}

.ui-lab {
	font-size: 5vw;
	font-family: "PP Machina", monospace;
	font-weight: 400;
	line-height: 1.2;
}

.desc {
	z-index: 23423;
	margin-top: 3rem;
}

.gradient {
	position: absolute;
	right: 0;
	top: 0;
	/* border: 2px solid black; */
	z-index: -213;
}

.gradient2{
	z-index: -213;
	position: absolute;
}


main{
	width: 100%;
	margin-left: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* max-width: 200rem; */
	/* margin: auto; */
}


.ui-container {
	/* width: 80%; */
	margin: auto;
	margin-top: 5rem;
	min-height: 100vh;
	/* background-color: crimson; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 2rem;
	padding: 0 4rem;
	/* max-width: 150rem; */
}

.project {
	border: 2px solid #d4d4d8;
	/* width: 80%; */
	border-radius: 4px;
	height: max-content;
}

.image {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 30rem;
	background-color: rgb(148, 148, 148);
}

.info {
	padding: 1rem;
	background-color: #f6f5f1;
}

.info h2 {
	/* font-family: "PP Machina", monospace; */
	font-weight: 600;
	font-size: 3rem;
}

.project-desc {
	color: #52525b;
}



@media screen and (max-width: 500px) {
	.container{
		flex-direction: column;
	}

	header{
		/* position: unset; */
		width: 100vw;
		height: max-content;
		position: relative;
		z-index: 123412312;
		background: transparent;
	}

	main{
		margin: 0;
	}
	.gradient{
		z-index: 12312;
		top: -25rem;
		/* border: 2px solid black; */
		/* display: none; */
	}

	.project{
		width: 90vw;
	}
	.ui-container{
		position: unset;
		grid-template-columns:  100vw;
	grid-template-rows:  max-content;
	gap: 2rem;
	width: 100vw;
	padding: 2rem;
	margin-top: 2rem;
	}

	.ui-lab{
		font-size: 8rem;
	}
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
	.container{
		display: flex;
		flex-direction: column;
	}
	header{
		/* position: unset; */
		width: 100vw;
		height: max-content;
		position: relative;
		z-index: 123412312;
		background: transparent;
	}

	main{
		margin: 0;
	}
	.ui-container{
		position: unset;
		grid-template-columns:   repeat(2, 1fr);
	grid-template-rows:  repeat(2, 1fr);
	gap: 2rem;
	width: 100vw;
	padding: 2rem;
	margin-top: 2rem;
	margin-left: 0;
	}

	.project{
		width: 45vw;
	}

}